@font-face {
    font-family: Font_I;
    src: url('../fonts/glyphicons-halflings-regular.svg'),
    url('../fonts/glyphicons-halflings-regular.svg');
}

body{
    background-image: url("../pics/background.jpg");
}


.b_5{
    height: 45px;
    width: 12%;
    border-style: dashed;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: gold;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
.b_5 span{
    float: none;
    padding-top: 5px;
    /*margin-right: 45%;*/
}

.patient_table {
    margin-top: 10px;
    width: 100%;
}

.container{
    z-index: 9999;
    width: 100%;
    position: fixed;
    text-align: left;
    top: 0;
}
