@font-face {
    font-family: Font_I;
    src: url('../fonts/Lalezar-Regular'),
    url('../fonts/Lalezar-Regular.woff');
}
.body{

    font-family:Font_I;
    /*background-image: url("../pics/background.JPG");*/
    background-color: white;
    /*background-size: 50%;*/
    position: relative;
}

.container{
    margin-top: 50px;
    z-index: 9999;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    /*text-align: left;*/
    /*left: -50%;*/
    /*transform: translate(-50%, 0);*/
    /*background-position: center,center;*/
    /*box-shadow: 5px 20px 18px #888888;*/
}

.reserve{
    background-image: url("../pics/reserve.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    height: 500px;
    z-index: 1;
    margin-top: -50px;
    /*top: 0px;*/
    /*position: absolute;*/
    /*margin-bottom: -50px;*/

    /*border-bottom: outset white;*/
.bottom_3{
/*background-color: beige;*/
height:400px;
}
/*font-size:36px;*/
}
.bottom_3_set{
width: 100%;
height:400px;
/*background-color: black;*/
margin-left: 20%;
margin-top: 30px;
}
.bottom_4_set{
    width: 100%;
    height:400px;
    /*background-color: black;*/
    /*margin-left: 20%;*/
    margin-top: 30px;
}
.p_111{
    text-align: center;
    height:20px;
    width: 19%;
    display:inline-block;
    color: black;
}
.p_222{
    text-align: center;
    height:20px;
    width: 19%;
    display:inline-block;
    color: black;
}
.p_333{
    text-align: center;
    height:20px;
    width: 19%;
    display:inline-block;
    color: black;
}
.about_us{
    /*width: 24%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    text-align: center;
    height: 100px;
    width: 300px;
    float: left;
    margin-left: 50%;
    border-radius: 3px; ;
    border-style:solid;
    border-width: 1px;
    border-radius: 50px;
    border-color: #001b6e;
    background-color: white;
    color: black;
    font-family:Font_I;
    font-size: 50px;
}
.p_444{
    text-align: center;
    height:20px;
    width: 19%;
    display:inline-block;
    color: black;
}
.p_555{
    text-align: center;
    height:20px;
    width: 19%;
    display:inline-block;
    color: black;
}
.p_11{
text-align: center;
height:20px;
width: 30%;
display:inline-block;
color: black;
}
.p_12{
text-align: center;
height:20px;
width: 30%;
display:inline-block;
color: black;
}
.p_13{
text-align: center;
height:20px;
width: 30%;
display:inline-block;
color: black;
}
.bottom_about{
height:400px;
font-size:36px;
}

.parallax {
background-image: url("../pics/2.jpg");
min-height: 500px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.parallax2 {
background-image: url("../pics/3.jpg");
min-height: 500px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
    opacity:0.7;
}


/*++++++++++++*/
.bottom_reserve {
height:400px;
font-size:36px;
}

.bottom_3{
    width: 75%;
}

.visit_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../pics/visit.png");
    height: 250px;
    background-repeat: no-repeat;
}


.r_best{
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 300px;
    float: left;
    border-radius: 3px; ;
    border-style:solid;
    border-width: 1px;
    border-radius: 50px;
    border-color: #001b6e;
    background-color: white;
    color: black;
    font-family:Font_I;
    font-size: 50px;
    /*text-decoration: underline;*/
}


.r_bottom{
width: 24%;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
height: 100px;
width: 300px;
float: left;
border-radius: 3px; ;
border-style:solid;
border-width: 1px;
border-radius: 50px;
border-color: #001b6e;
background-color: white;
color: black;
font-family:Font_I;
font-size: 50px;
/*text-decoration: underline;*/
}
/*.r_bottom a {*/
/*text-decoration: underline;*/
/*}*/
.r_bottom :hover{
transform: rotate(2deg);
transition: 500ms;
}
.r_best :hover{
transform: rotate(2deg);
transition: 500ms;
}

.bottom_about{
    color: white;
}
