@font-face {
  font-family: Font_I;
  src: url('../fonts/Lalezar-Regular'),
  url('../fonts/Lalezar-Regular.woff');
}
.my_crausel{
  height: auto;
  width: auto;
  max-width: 1150px;
  max-height: 600px;
}
.my_footer{
  background-color:#bbb;
  color: #555;
}
